{% extends 'base.html' %} {% block content %}
<body>
  <div class="container mt-4">
    <h1>Nuestros productos</h1>
    <div class="row">
      {% for flan in flanes %}
      <div class="col-md-6">
        <div class="card mb-5 mt-5">
          <img
            src="{{ flan.image_url }}"
            class="card-img-top"
            alt="{{ flan.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text">{{ flan.description }}</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
