<nav class="navbar container navbar-expand-lg bg-dark-subtle">
  <div class="container">
    <a class="navbar-brand" href="#">
      {% load static %}
      <img src="{% static 'of-logo.png' %}" alt="logo" height="40 px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a
            href="http://127.0.0.1:8000/#"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-indent fa-xl"></i>
            Indice
          </a>
        </li>
        <li>
          <a
            href="http://127.0.0.1:8000/acerca/"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-address-card fa-xl"></i>
            Acerca
          </a>
        </li>
        <li>
          <a
            href="http://127.0.0.1:8000/bienvenido/"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-door-open fa-xl"></i>
            Bienvenido clientes
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
