<div class="container px-3 py-2 bg-dark-subtle border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
      >
        {% load static %}
        <img src="{% static 'of-logo.png' %}" alt="logo" height="40 px" />
      </a>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a
            href="http://127.0.0.1:8000/#"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-indent fa-xl"></i>
            Indice
          </a>
        </li>
        <li>
          <a
            href="http://127.0.0.1:8000/acerca/"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-address-card fa-xl"></i>
            Acerca
          </a>
        </li>
        <li>
          <a
            href="http://127.0.0.1:8000/bienvenido/"
            class="nav-link text-danger-emphasis"
          >
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            <i class="fa-solid fa-door-open fa-xl"></i>
            Bienvenido clientes
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
